.home-body-slider {
    margin-top: 50px;
}

.home-body-doctors {
    margin-top: 70px;
}

.home-body-service {
    margin-top: 70px;
}

.home-body-schedule {
    margin-top: 60px;
}

.home-body-youtube {
    margin-top: 20px;
}

.home-footer {
    margin-top: 20px;
}