/* reset css lại từ đầu*/
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.back-ground {
    background-image: url(../../assets/picture/picuture_imgDoctor/clinic.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
}

.div-email {
    display: flex;
    justify-content: center;
}

.all-register {
    height: 600px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25) inset;
    width: 500px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5);
    /* Màu trắng trong suốt */
    border-radius: 20px;
    padding: 20px;
}

.username {
    background-color: azure;
    width: 300px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: sans-serif;
    padding: 10px;
    border-radius: 10px;

    &:hover {
        background-color: aquamarine;
    }
}

.email {
    background-color: azure;
    width: 300px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: sans-serif;
    padding: 10px;
    border-radius: 10px;

    &:hover {
        background-color: aquamarine;
    }
}

.div-phone {
    display: flex;
    justify-content: center;
}


.phone {
    background-color: azure;
    width: 300px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: sans-serif;
    padding: 10px;
    border-radius: 10px;

    &:hover {
        background-color: aquamarine;
    }
}

.div-sign-up {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.account {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.text-gray-600 {
    margin-right: 5px;
}

.button {
    cursor: pointer;

    &.active {
        color: white;
        background-color: blue;
    }

}

.icon-open-eye-register {
    position: absolute;
    top: 204px;
    right: 250px;
    cursor: pointer;
}