<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <section class="header">

    </section>
    <section class="popular-specialty">
        
    </section>
    <section class="clinic">
        
    </section>
    <section class="dentist">
        
    </section>
    <section class="handbook">
        
    </section>
    <section class="contact">
        
    </section>
    <footer>
        
    </footer>

</body>
</html>