<!-- payment_form.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VNPay Payment Form</title>
</head>
<body>
    <h1>VNPay Payment Form</h1>
    <form action="/order/create_payment_url" method="post">
        <label for="id">BookingId:</label>
        <input type="number" id="id" name="id" required>
        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" required>
        <br><br>
        <label for="bankCode">Bank Code:</label>
        <input type="text" id="bankCode" name="bankCode">
        <br><br>
        <label for="language">Language:</label>
        <select id="language" name="language">
            <option value="vn">Vietnamese</option>
            <option value="en">English</option>
        </select>
        <br><br>
        <button type="submit">Pay</button>
    </form>
</body>
</html>
