<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: #f0f0f0;
            /* You can set a background color or image here */
        }

        .wrapper {
            width: 420px;
            background: #0170bb;
            color: #fff;
            border-radius: 10px;
            padding: 30px 40px;
        }

        .wrapper h1 {
            font-size: 36px;
            text-align: center;
        }

        .wrapper .input-box {
            position: relative;
            width: 100%;
            height: 50px;
            margin: 30px 0;
        }

        .input-box input {
            width: 100%;
            height: 100%;
            background: transparent;
            border: 2px solid rgba(255, 255, 255, .2);
            outline: none;
            border-radius: 40px;
            font-size: 16px;
            color: #fff;
            padding: 20px 45px 20px 20px;
        }

        .input-box input::placeholder {
            color: #fff;
        }

        .input-box .icon {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 16px;
        }

        .wrapper button {
            width: 100%;
            height: 45px;
            background: aqua;
            border: none;
            outline: none;
            border-radius: 40px;
            box-shadow: 0 0 10px rgba(0, 0, 0, .1);
            cursor: pointer;
            font-size: 16px;
            color: #333;
            font-weight: 700;
        }

        p {
            text-align: center;
            margin-top: 10px;
            color: #fff;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <h1>Update Password</h1>
        <form id="updatePasswordForm" method="post" action="/updatePassword">
            <div class="input-box">
                <input type="password" name="currentPassword" placeholder="Current Password" required />
                <i class="icon">🔒</i>
            </div>
            <div class="input-box">
                <input type="password" name="newPassword" placeholder="New Password" required />
                <i class="icon">🔒</i>
            </div>
            <div class="input-box">
                <input type="password" name="confirmPassword" placeholder="Confirm New Password" required />
                <i class="icon">🔒</i>
            </div>
            <div>
                <button type="submit">Update Password</button>
            </div>
        </form>
    </div>
</body>

</html>