body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-image: url(/public/IMG_SWP391/img_backgroud.png);
}

.title {
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.sdt {
  background-color: azure;
  width: 300px;
  height: 50px;
  font-size: 20px;
  margin-bottom: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.password {
  background-color: azure;
  width: 300px;
  height: 50px;
  font-size: 20px;
  margin-bottom: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login-button {

  width: 310px;
  height: 50px;
  font-size: 20px;
  color: aliceblue;
  background: blue;
  margin-bottom: 20px;
}

.text-forget {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.create-button {
  display: flex;
  justify-content: center;
  line-height: 40px;
  font-size: 20px;
  color: white;
  background-color: greenyellow;
  width: 250px;
  height: 50px;
}

.button-create-div {
  display: flex;
  justify-content: center;
}

.all {
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25) inset;
  width: 500px;
  height: 500px;
  box-sizing: border-box;
}

.div-sdt {
  display: flex;
  justify-content: center;
}

.div-password {
  display: flex;
  justify-content: center;
}

.div-login {
  display: flex;
  justify-content: center;
}

.shift {
  align-items: center;
  border-bottom: 1px solid #000000;
  display: flex;
  margin: 20px 16px;
  text-align: center;
}

.buttonitem1 {
  width: 100%;
}