*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.icon-menu {
    font-size: 30px;
    color: gray;
    cursor: pointer;
}

.sub {
    font-size: 12;
    font-weight: 400;
    margin-top: 5px;
}

.home-header-container {
    height: 100px;
    width: 100%;
    padding: 0 20px;


    .header-content {
        width: 100%;
        height: 100%;
        display: flex;

        .content-logo {
            width: 20%;
            display: flex;
            align-items: center;


            .header-logo {
                background: url('/clinic.png') center center no-repeat;
                height: 70%;
                width: 50%;
                display: flex;
                background-size: 90% 50%;
            }
        }

        .content-option {
            width: 40%;
            display: flex;
            justify-content: space-between;
            align-items: center;

        }

        .content-auth {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 160px;
            /* Adjust as needed */
            margin: 10px auto;
            /* Center the content horizontally and add top margin */
        }

        .content-login-register {
            margin-top: 20px;
            margin-left: 30px;
            margin-right: 40px;
        }

        .icon-user {
            margin-right: 8px;
        }

        .auth-left {
            display: flex;
            align-items: center;
        }

        .seperate {
            margin: 0 12px;
            font-weight: 400;
            font-size: 1em;
        }

        .auth-right {
            display: flex;
            align-items: center;
        }

        .Login {
            margin-left: 10px;
        }

        .content-register {
            width: 15%;
            display: flex;
            align-items: center;

        }

        .content-support {
            width: 30%;
            display: flex;
            align-items: center;
            padding: 20px;
        }

        .support-child {
            margin-right: 20px;
            cursor: pointer;
        }

        .contact-support {
            cursor: pointer;
        }

        .translate {
            margin-left: 20px;
            cursor: pointer;
        }

        .languge-vi {
            cursor: pointer;

            &.active {
                color: blue;
            }
        }

        .languge-en {
            cursor: pointer;

            &.active {
                color: green;
            }
        }
    }
}