.reset-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px; // Adjust the max-width as needed
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f9f9f9;
}

.reset-password-container input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.reset-password-container input:focus {
    border-color: #007bff;
    outline: none;
}

.reset-password-container button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.reset-password-container button:hover {
    background-color: #0056b3;
}

.reset-password-container button:active {
    background-color: #00408d;
}

.reset-title {
    font-size: 30px;
    font-weight: 700;
}

.reset-password-container {
    margin-top: 10%;
}