$primary-color: #6200ea;
$secondary-color: #03dac6;
$text-color: black;
$background-color: #121212;
$hover-background-color: blue;
$border-color: #1a0d2a;
$border-radius: 10px;
$transition-time: 0.3s;
$gradient: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
$highlight-color: blue;

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    background: $gradient;
    color: $text-color;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', sans-serif;
    height: 65px;

    .header-tabs-container {
        flex-grow: 1;

        .navigator {
            display: flex;
            align-items: center;

            .menu-item {
                margin: 0 15px;
                padding: 12px 25px;
                font-size: 16px;
                color: $text-color;
                text-decoration: none;
                border-radius: $border-radius;
                transition: background-color $transition-time ease, transform $transition-time ease;

                &:hover {
                    background-color: $hover-background-color;
                    transform: translateY(-5px);
                    color: $text-color;
                }
            }
        }
    }

    .btnn-logout {
        display: flex;
        align-items: center;
        background-color: rgb(255, 255, 255);
        color: red;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s, color 0.3s;
        font-weight: bold;
        border: 1px solid #1a0d2a;
        text-decoration: none;

        &:hover {
            background-color: #1e0a66;
            transform: translateY(-3px);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            color: white;
        }

        i {
            margin-right: 10px;
        }

        span {
            font-weight: 600;
        }
    }
}
