/* HeaderSystem.scss */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* Màu nền header */
    color: #fff; /* Màu chữ */
    padding: 10px 20px; /* Khoảng cách nội dung với viền */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Đổ bóng cho header */
}

.header-tabs-container {
    display: flex;
    align-items: center;
}

.btn-logout {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s;
    margin-left: 10px; /* Khoảng cách giữa nút logout và nội dung header */
}

.btn-logout:hover {
    color: #ffcc00; /* Màu khi hover */
}

.btn-logout i {
    margin-right: 5px;
}
